# mac
.DS_Store

# python
__pycache__/
*.pyc
*.pyo

# virtual env
.venv/
venv/

# jupyter
.ipynb_checkpoints/

# env
.env

# models
models/
*.bin
*.pt
*.pth
*.ckpt
*.safetensors

# IDE
.idea/
.vscode/

# logs
*.log